---
layout: default
title: Home | Sruti Vijaykumar
---

<div class="grid lg:grid-cols-4 grid-cols-1 gap-1 lg:mx-20 mt-12 mb-4 place-items-center">
  <div class="col-span-1">
    <div class="w-56">
      <img src="assets/images/me.webp" alt="Sruti sitting on chair in office." class="shadow-lg rounded-full h-56 w-56 object-cover border-none" />
    </div>
  </div>
  <p class="text-xl lg:col-span-3 font-thin leading-relaxed font-intro">
    Welcome to my portfolio! I am a <strong class="font-bold">UX Specialist</strong> with a focus on <strong class="font-bold">qualitative research and web accessibility.</strong><br>
    I empower tech teams to build efficient and inclusive products through human-centered research.
  </p>
</div>

<h2 class="text-brand text-center text-3xl font-medium mt-12" id="professional-projects"> Professional Projects</h2>
<div class="flex justify-center mx-28 mb-8">
  <hr class="border-brand w-3/4">
</div>

<div class="lg:mx-20 grid lg:grid-cols-3 sm:grid-cols-1 gap-4">
  {%- for project in site.data.professional-projects -%}
    {% include project.html project=project %}
  {% endfor %}
</div>

<h2 class="text-brand text-center text-3xl font-medium mt-12" id="volunteer-work"> Volunteer Work</h2>
<div class="flex justify-center mx-28 mb-8">
  <hr class="border-brand w-3/4">
</div>


<div class="lg:mx-20 grid lg:grid-cols-3 sm:grid-cols-1 gap-4">
  {%- for project in site.data.volunteer-work -%}
    {% include project.html project=project %}
  {% endfor %}
</div>
