<footer class="bg-brand text-white text-center lg:text-left mt-6 pb-6">
  <div class="text-center p-4">
    <span class="text-xs">© May 2022 by</span> <span class="font-logo font-bold text-xl">Sruti Vijaykumar</span>
  </div>

  <div class="grid grid-cols-4 place-items-auto lg:mx-40">
    <div>
      <div class="my-4">
        <a class="underline focus:no-underline hover:no-underline text-xl font-bold" href="/about.html">About</a>
      </div>
      <div class="my-4">
        <a class="underline focus:no-underline hover:no-underline text-xl font-bold" href="/contact.html">Contact</a>
      </div>
      <div class="my-4">
        <a class="underline focus:no-underline hover:no-underline text-xl font-bold" href="/assets/docs/SrutiVijayKumarResume.pdf">Resume</a>
      </div>
    </div>
    <div class="place-items-auto col-span-3">
      <div class="my-4">
        <a class="underline focus:no-underline hover:no-underline text-xl font-bold" href="/">Projects</a>
      </div>
      <div class="grid grid-cols-2 gap-8">
        <div>
          <div class="my-4">
            <a class="underline focus:no-underline hover:no-underline text-base font-bold" href="/#professional-projects">Professional Projects</a>
          </div>
          <div class="my-2">
            <a class="underline focus:no-underline hover:no-underline text-sm" href="/uxr-medical-devices">UX Research For Medical Devices</a>
          </div>
          <div class="my-2">
            <a class="underline focus:no-underline hover:no-underline text-sm" href="/uxr-shipping-website">UX Research For A Mailing & Shipping Website</a>
          </div>
          <div class="my-2">
            <a class="underline focus:no-underline hover:no-underline text-sm" href="/accessibility-audits-remediation">Accessibility Audits & Remediation</a>
          </div>
        </div>
        <div>
          <div class="my-4">
            <a class="underline focus:no-underline hover:no-underline text-base font-bold" href="/#volunteer-work">Volunteer Work</a>
          </div>
          <div class="my-2">
            <a class="underline focus:no-underline hover:no-underline text-sm" href="/">TalkBox: A DIY Communication Board</a>
          </div>
          <div class="my-2">
            <a class="underline focus:no-underline hover:no-underline text-sm" href="/">Accessible Website For STEAM Success Foundation</a>
          </div>
          <div class="my-2">
            <a class="underline focus:no-underline hover:no-underline text-sm" href="/">Design Thinking To Influence Policies</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>