<header class="lg:px-20 px-20 bg-white flex flex-wrap items-center lg:py-0 py-2 mx-auto w-full sticky top-0 z-50 shadow-md">
    <div class="flex-1 flex justify-between items-center">
      <a href="/" class="font-semibold text-brand text-4xl font-logo">
        Sruti Vijaykumar
      </a>
    </div>

    <label for="menu-toggle" data-menu-toggle class="pointer-cursor lg:hidden block"><svg class="fill-current text-gray-900"
        xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
        <title>menu</title>
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
      </svg></label>
    <input class="hidden" type="checkbox" id="menu-toggle" />

    <div data-menu class="hidden flex-1 lg:flex lg:items-center lg:w-auto w-full content-center justify-start" id="menu">
      <nav>
        <ul class="lg:flex items-left justify-between text-base text-gray-500 pt-4 lg:pt-0">
          <li><a class="lg:p-6 py-3 px-0 block border-b-2 border-transparent hover:border-brand hover:text-gray-700 focus:border-brand focus:text-gray-700 font-bold text-2xl"
              href="/">Projects</a></li>
          <li><a class="lg:p-6 py-3 px-0 block border-b-2 border-transparent hover:border-brand hover:text-gray-700 focus:border-brand focus:text-gray-700 font-bold text-2xl"
              href="/about">About</a></li>
          <li><a class="lg:p-6 py-3 px-0 block border-b-2 border-transparent hover:border-brand hover:text-gray-700 focus:border-brand focus:text-gray-700 font-bold text-2xl"
              href="/contact">Contact</a></li>
          <li><a class="lg:p-6 py-3 px-0 block border-b-2 border-transparent hover:border-brand hover:text-gray-700 focus:border-brand focus:text-gray-700 font-bold text-2xl"
              href="/assets/docs/SrutiVijayKumarResume.pdf" target="_blank">Resume</a></li>
        </ul>
      </nav>

    </div>
    <script src="assets/javascript/index.js"></script>
  </header>